/* PHASE 7: Online */

.profile-picture {
  position: relative;
  overflow: hidden;
}

.online {
  display: block;
  position: absolute;
  background-color: rgb(31, 241, 90);
  color: white;
  transform: scale(1.0, 1.0) translateX(10%) rotate(-45deg);
  top: 30px;
  left: -60px;
  box-shadow: 0 1px 0 0 black;
  padding: 5px 70px;
}